<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">nombre</th>
        <th scope="col">apellido</th>
        <th scope="col">rut</th>
        <th scope="col">correo</th>
        <th scope="col">password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of registros">
        <th scope="row">{{dato._id}}</th>
        <td>{{dato.nombre}}</td>
        <td>{{dato.apellido}}</td>
        <td>{{dato.rut}}</td>
        <td>{{dato.correo}}</td>
        <td>{{dato.password}}</td>
      </table>
